{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/bce51483a3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    {% load crispy_forms_tags %}
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'home' %}">
            <!-- <h2>ATM-WORKS</h2> -->
            <img
              src="https://imgur.com/cfl7TTD.png"
              height="45"
              alt="MDB Logo"
              loading="lazy"
            />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://atmworks.fly.dev/#start-about"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://atmworks.fly.dev/#team-container">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'atms_create' %}"
                >New ATM Here</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">View All ATMs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'map' %}">Map View</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->

        <div class="d-flex align-items-center">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
          <!-- Avatar -->
          <div class="dropdown">
            <a
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="rounded-circle"
                height="30"
                alt="Black and White Portrait of a Man"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'login' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- Row -->

    <title>How Is This ATM Performing?</title>
    <div class="container">
      <h1 class="text-center">This ATM's Performance:</h1>
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-body text-center">
              <h3 class="card-title">Name: {{ atm.name }}</h3>
              <p>Location: {{ atm.location_type }}</p>
              <p>Address: {{ atm.address }}</p>
              <p>Business Fee: ${{ atm.business_fee}}</p>
              <p>Surcharge: ${{ atm.surcharge}}</p>
            </div>
            <div class="card-action ml-2 mb-2 text-center">
              <a class="btn btn-secondary" href="{% url 'atms_update' atm.id %}"
                >Edit</a
              >
              <a class="btn btn-danger" href="{% url 'atms_delete' atm.id %}"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="col s6">
          <!-- new code below -->
          <form method="post" action="{% url 'add_revenue' atm.id %}">
            {% csrf_token %}
            {{ revenue_form|crispy }}
            <br>
            <input
              type="submit"
              class="btn btn-success"
              value="Add Monthly Revenue"
            />
          </form>
          <!-- NEW FORM BELOW -->
<br>
<br>
          <!-- new code above -->
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>Date</th>
                <th>Monthly Revenue</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for revenue in atm.revenue_set.all %}
              <tr>
                <td>{{revenue.date}}</td>
                <td>${{revenue.amount}}</td>
                <td>
                  <form
                    action="{% url 'revenue_delete' revenue.id %}"
                    method="POST"
                  >
                    {% csrf_token %}
                    <input type="submit" value="X" class="btn text-danger" />
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
<br>
        <div class="col s6">
          <form method="post" action="{% url 'add_cashinput' atm.id %}">
            {% csrf_token %} 
            {{ cashinput_form|crispy }}
            <br>
            <input
              type="submit"
              class="btn btn-success"
              value="Add Cash Input"
            />
          </form>
<br>
<br>
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>Date</th>
                <th>Cash Input</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for cashinput in atm.cashinput_set.all %}
              <tr>
                <td>{{cashinput.date}}</td>
                <td>${{cashinput.amount}}</td>
                <td>
                  <form
                    action="{% url 'cashinput_delete' cashinput.id %}"
                    method="POST"
                  >
                    {% csrf_token %}
                    <input type="submit" value="X" class="btn text-danger" />
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
