{% extends 'base.html' %} {% block content %}
<title>How Is This ATM Performing?</title>
<h1>This ATM's Performance:</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ atm.name }}</span>
        <p>Location: {{ atm.location }}</p>
        <p>Address: {{ atm.address }}</p>
        <p>Business Fee: {{ atm.business_fee}}</p>
        <p>Surcharge: {{ atm.surcharge}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'atms_update' atm.id %}">Edit</a>
        <a href="{% url 'atms_delete' atm.id %}">Delete</a>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
