{% extends 'base.html' %} {% block content %}
<title>How Is This ATM Performing?</title>
<h1>This ATM's Performance:</h1>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Name: <strong>{{ atm.name }}</strong></span>
        <p>Location: {{ atm.location_type }}</p>
        <p>Address: {{ atm.address }}</p>
        <p>Business Fee: {{ atm.business_fee}}</p>
        <p>Surcharge: {{ atm.surcharge}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'atms_update' atm.id %}">Edit</a>
        <a href="{% url 'atms_delete' atm.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s6">
      <!-- new code below -->
      <form method="post" action="{% url 'add_revenue' atm.id %}">
        {% csrf_token %}
        {{ revenue_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Add Monthly Revenue">
      </form>
      <!-- new code above -->
    <table class="table">
      <thead class="table-dark">
        <tr><th>Date</th><th>Monthly Revenue</th></tr>
      </thead>
      <tbody>
        {% for revenue in atm.revenue_set.all %}
          <tr>
            <td>{{revenue.date}}</td>
            <td>{{revenue.amount}}</td>
            <td><a href="{% url 'revenue_delete' revenue.id %}">X</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col s6">
    <form method="post" action="{% url 'add_cashinput' atm.id %}">
      {% csrf_token %}
      {{ cashinput_form.as_p }}
      <input type="submit" class="btn" value="Add Cash Input">
    </form>
    <table class="table">
      <thead class="table-dark">
        <tr><th>Date</th><th>Cash Input</th></tr>
      </thead>
      <tbody>
        {% for cashinput in atm.cashinput_set.all %}
          <tr>
            <td>{{cashinput.date}}</td>
            <td>{{cashinput.amount}}</td>
            <td><a href="#">X</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  {% endblock content %}
