{% extends 'base.html' %} {% block content %}
<!-- hero main image -->
<title>ATM Works the #1 ATM management software</title>
<div class="container" id="hero-container">
  <div class="row h-50 align-items-center">
    <div class="col-md-6 text-center p-3">
      <h2 class="p-3">Your #1 ATM Management Solution</h2>
      <h5 class="p-2">Keeping track of your business has never been easier!</h5>
      <p>ATM WORKS is your management solution to control your business.</p>
      <a class="mt-4 btn btn-light" href="http://localhost:8000/#start-about"
        >Read More <i class="fa-solid fa-chevron-down"></i
      ></a>
      <a class="mt-4 btn btn-light" href=""
        >Contact Us <i class="fa-solid fa-phone"></i
      ></a>
    </div>
  </div>
</div>

<div class="container" id="start-about">
  <div class="row h-50">
    <div class="my-5 text-center">
      <h2 class="text-center">About ATM Works</h2>
      <a href="localhost:8000/#about-container"></a>
    </div>
  </div>
</div>

<div class="container" id="about-container">
  <div class="row h-50">
    <div class="col-md-6 vh-50">
      <img
        class="img-fluid h-100 w-100"
        src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        alt=""
      />
    </div>

    <div
      class="col-md-6 vh-50 text-center d-flex justify-content-center align-items-center border-right border-top"
    >
      <div class="">
        <h2>Created by Industry Experts</h2>
        <p>To manage all of your ATM's to continue to grow your business</p>
        <p>Say bye to those spreadsheets!</p>
      </div>
    </div>
  </div>

  <div class="row h-50">
    <div
      class="col-md-6 vh-50 text-center d-flex justify-content-center align-items-center border-right border-bottom"
    >
      <div class="">
        <h2>Easy to Use</h2>
        <p>Access the application on your phone or computer</p>
        <p>Say hello to convienence</p>
      </div>
    </div>

    <div class="col-md-6 vh-50">
      <img
        class="img class=img-fluid h-100 w-100"
        src="https://images.unsplash.com/photo-1601597111158-2fceff292cdc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        alt=""
      />
    </div>
  </div>
</div>

<br>

<br>
<div class="container" id="team-container">
    <div class="row h-50">
      <div class="my-5 text-center">
        <h2 class="text-center">Meet the Team</h2>
        <a href="localhost:8000/#team-container"></a>
      </div>
    </div>
  </div>
<br>
    

<div class="row">
    <div class="column">
      <div class="card h-100">
        <img class="h-100" src="https://i.imgur.com/vrin3L3.png" alt="Phil" style="width:100%">
        <div class="container">
          <h2>Phil Nguyen</h2>
          <p class="title">Lead Developer &amp; Founder</p>
          <p>phil@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card h-100">
        <img class="h-100" src="https://i.imgur.com/kQY49PY.png" alt="Sean" style="width:100%" >
        <div class="container">
          <h2>Sean Lee</h2>
          <p class="title">Git Director</p>
          <p>sean@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card h-100">
        <img class="h-100" src="https://i.imgur.com/NVEUIzf.jpg" alt="David" style="width:100%">
        <div class="container">
          <h2>David Baca</h2>
          <p class="title">Developer</p>
          <p>david@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
