{% extends 'base.html' %}



{% block content %}
<!-- hero main image -->
<div class="container" id="hero-container">
    <div class="row h-50 align-items-center">
        <div class="col-md-6 text-center p-3">
            <h2 class="p-3">Your #1 ATM Management Solution</h2>
            <h5 class="p-2">Keeping track of your business has never been easier!</h5>
            <p>ATM WORKS is your management solution to control your business.</p>
            <a class=" mt-4 btn btn-light" href="">Read More  <i class="fa-solid fa-chevron-down"></i></a>
            <a class=" mt-4 btn btn-light" href="">Contact Us  <i class="fa-solid fa-phone"></i></a>
        </div>
    </div> 
{% endblock content %}