html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Jost", sans-serif;
}

#hero-container {
  background-image: url(https://imgur.com/uRYovlM.png);
  height: 960px;
  max-width: 2500px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-container {
  height: 950px;
  max-width: 2500px;
}

/* TODO: Revisit later, the image might only be weird on Sean's computer. */
/* .img-responsive {
  max-width: 100%;
  max-height: 100%;
} */
